SQL - Structured Query Language

- DDL – Data Definition Language - Create, Drop, Alter    
- DML – Data Manipulation Language -  Insert, Update, Delete, Merge
- DCL – Data Control Language - Grant, Revoke
- DQL – Data Query Language - Select

In [12]:
# Importando as bibliotecas
import mysql.connector
from mysql.connector import errorcode
from mysql.connector import (connection)
from datetime import datetime

In [7]:
# Criando conexão com o banco de dados
conn = connection.MySQLConnection(host='127.0.0.1', user='root', password='94563381', database='first_example')
cur = conn.cursor()

In [25]:
# Criando funções 
def inserir(lista):
    sql = 'INSERT INTO person VALUES (?,?,?,?,?,?,?,?,?,?)'
    cur.execute(sql, lista)
    conn.commit()

def imprimir():
    cur.execute('SELECT * FROM person')
    for row in cur.fetchall():
        print(row)

In [21]:
lista = [6, 'João', 'Augusto', 'M', '1968-12-05', 'Rua B 894', 'São Paulo', 'SP', 'Brazil', '84215662']

In [26]:
inserir(lista)

ProgrammingError: Not all parameters were used in the SQL statement

In [18]:
imprimir()

(0, 'Wendell', 'Barcelos', 'M', datetime.date(1991, 11, 30), 'Rua da Usina 159', 'Rio de Janeiro', 'RJ', 'Brazil', '21815180')
(1, 'Lidia', 'Chacon', 'F', datetime.date(1990, 11, 20), 'Rua da Usina 159', 'Rio de Janeiro', 'RJ', 'Brazil', '21815180')
(2, 'Syndell', 'Barcelos', 'F', datetime.date(2003, 11, 27), 'Rua da Usina 159', 'Rio de Janeiro', 'RJ', 'Brazil', '21815180')
(3, 'Leonardo', 'Nascimento', 'M', datetime.date(1995, 9, 20), 'Rua Abaeté 628', 'Rio de Janeiro', 'RJ', 'Brazil', '21815180')
(4, 'Vicente', 'Izel', 'M', datetime.date(1992, 10, 29), 'Rua Cabral', 'Brasilia', 'BR', 'Brazil', '29554166')
(5, 'João', 'Augusto', 'M', datetime.date(1968, 12, 5), 'Rua B 894', 'São Paulo', 'SP', 'Brazil', '84215662')